---
import { Image } from 'astro:assets';
import avatar from '@/images/avatar.png';
import { linkedIn } from '@/constants/links';
import SocialLink from './banner/SocialLink.astro';
import { buttonVariants } from '@/components/ui/Button';
import { Github, Linkedin, Twitter } from 'lucide-react';
---
<section class="flex flex-col lg:flex-row lg:mx-24 flex-1 gap-8 my-6 lg:max-h-[24rem] lg:my-auto">
    <div class="flex flex-col mx-6 lg:basis-1/2 lg:mx-0 gap-8 lg:gap-16">
        <Image src={ avatar } class="rounded-full w-16 h-16 lg:w-32 lg:h-32 lg:border-[12px] border-double"
               alt="Ore's picture"/>
        <h1 class="text-3xl md:text-5xl font-semibold flex flex-col lg:gap-8">
            <span>Hello!</span>
            <span>I'm <span class="font-bold">Ore Adeleye</span></span>
        </h1>
    </div>
    <div class="flex flex-col flex-1 gap-16">
        <div class="mx-6 lg:mx-0 flex flex-col gap-2 lg:gap-8">
            <h2 class="text-2xl md:text-4xl font-semibold">Architect of the Web</h2>
            <div class="text-neutral-500 md:text-2xl">Bridging gaps and building bridges<br/>
                across the full tech stack
            </div>
        </div>
        <div class="flex-1 lg:flex-grow-0 flex justify-center items-end pb-[20%] lg:pb-6 gap-8 lg:justify-start">
            <a href="#" class={ buttonVariants({size: 'lg'}) } target="_blank">See my works</a>
            <a href={ linkedIn }
               class={ buttonVariants({ 'variant': 'outline', size: 'lg' }) }
               target="_blank">
                Talk with me
            </a>
        </div>
    </div>
    <div class="absolute right-8 flex flex-col gap-4">
        <SocialLink href="#" title="GitHub"><Github/></SocialLink>
        <SocialLink href="#" title="LinkedIn"><Linkedin/></SocialLink>
        <SocialLink href="#" title="Twitter"><Twitter/></SocialLink>
    </div>
</section>